.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:rgb(233, 233, 233);
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

/* HEADER */

.headerApp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:20%;
  color: white;
  background-image: url("./img/NightWacht.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 2%;
  padding-right: 2%;
}

.headerApp > h1 {
  font-size: 72px;
}

.headerApp > h1 > a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.headerApp > h1 > a:hover{
opacity: 0.66;
}

@media only screen and (max-width: 768px) {
  .headerApp > h1 {
    font-size: 36px;
  }
}